body,html {
    margin: 0;
    padding: 0;
}
ul {
    background: rgb(53, 53, 53);
    margin: 0;
    padding: 0;
}

ul li {
    list-style-type: none;
    display: inline-block;
    padding: 10px;
}

ul li a{
    text-decoration: none;
    font-size: 20px;
    color: white;
}

ul li:hover{
    background: rgb(221, 31, 31);
}
slider {
    width: 100%;
    height: 95%;
    background-color: #1f1f1f;
    overflow: hidden;
    position: absolute;
}
slider > * {
    position: absolute;
    width: 100%;
    height: 100%;
    animation: slide 12s infinite;
}

slide:nth-child(1){
    left: 0%;
    animation-delay: -1s;
    background-image: url(1.jpg);
    background-size: cover;
    background-position: center;
}
slide:nth-child(2){
    animation-delay: 2s;
    background-image: url(2.jpg);
    background-size: cover;
    background-position: center;
}
slide:nth-child(3){
    animation-delay: 5s;
    background-image: url(3.jpg);
    background-size: cover;
    background-position: center;
}
slide:nth-child(4){
    left: 0%;
    animation-delay: 8s;
    background-image: url(4.jpg);
    background-size: cover;
    background-position: center;
}

@keyframes slide {
    0% {left: 100%; width: 100%;}
    5%{left: 0%;}
    25% {left: 0%;}
    30% {left: -100%; width: 100%;}
    30.0001% {left: -100%; width: 0%}
    100% {left: 100%; width: 0%}
}